<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Nexus threejs</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>body { margin: 0px; overflow: hidden; }</style>
</head>

<body>
    <div id="vida.web.container"></div>
    <script src="libs/libs.js"></script>
    <script src="app/app.js"></script>
</body>

</html>